.grid {
    display: grid;
    gap: 5px;
    /* grid-template-columns: max-content min-content; */
    grid-template-columns: repeat(auto-fit, minmax(20px, max-content));
    grid-auto-rows: 100px;
    margin-bottom: 30px;
    color: #ffffff;
}

.item:nth-child(odd) {
    background-color: #FF6464;
}

.item {
    background-color: #91C483;
}


